################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/netbox_otn/FileContentIndex/c8d82c05-4070-4586-8a91-38ab71ccfd77.vsidx
/.vs/netbox_otn/FileContentIndex/c6cec2a2-713d-4258-9fe2-b5fe115158cc.vsidx
/.vs/netbox_otn/FileContentIndex/89886f17-1bb9-4f4a-bdd2-ba200db16a1b.vsidx
/.vs/netbox_otn/FileContentIndex/4f1631d3-a576-499a-8299-5dd1ca984d7b.vsidx
/.vs/netbox_otn/FileContentIndex/4313bae9-31ed-47e0-a066-c5ac6c84a0c7.vsidx
/.vs/netbox_otn/FileContentIndex/303fb386-02ef-4161-ba2a-24fbb8ea37a6.vsidx
/.vs/netbox_otn/FileContentIndex/2c93276e-7a10-4cba-95ba-90e63e2425c3.vsidx
/.vs/netbox_otn/FileContentIndex/05235bf1-2d20-4f2d-bb27-5c13669d1164.vsidx
/.vs/netbox_otn/FileContentIndex/30c5fe78-46cc-495b-b82c-0b1025922d05.vsidx
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/netbox_otn/config/applicationhost.config
/.vs/netbox_otn/v17/.wsuo
*.vsidx
/.vs/netbox_otn/FileContentIndex/4e30bfa9-e596-4648-8472-effa2ad4a114.vsidx
/.vs/netbox_otn/FileContentIndex/9382613c-51c9-4954-aadd-04993545ebb5.vsidx
/netbox_otn.egg-info/top_level.txt
/netbox_otn.egg-info/SOURCES.txt
/netbox_otn.egg-info/PKG-INFO
/netbox_otn.egg-info/not-zip-safe
/netbox_otn.egg-info/dependency_links.txt
*.lock
/.vs/netbox_otn/FileContentIndex/read.lock
/.vs/netbox_otn/v17/.suo
